<div class="page">
    <div class="infopage">
        <div class="info">
            <p><strong>Développeur Web</strong><br>
                Nicolas PERON<br>
                Né le 08 Juin 1996</p>
            <p>14 Esplanade de Monturon - 31770 Colomiers<br>
                +33 6 81 53 64 17<br>
                nicolas.peron@ynov.com</p>
        </div>
        <div class="photo">
            <img src="../assets/photo.png" style="width: 175px;" alt="Photo Nicolas PERON">
        </div>
    </div>
    <div class="section">
        <h2>Qui suis-je ?</h2>
        <div class="a-propos">
            <p>Je m'appelle Nicolas PERON, étudiant en Master 2 développement Web au sein du Campus Ynov à Toulouse. Je
                suis auto-entrepreneur depuis début 2019 dans la prestation de service en BtoB spécialisé dans la
                création de site internet et d'application. Je travaille également pour plusieurs entreprise en plus de
                mon alternance. Passioné d'entreprenariat, de marketing et d'internet, j'ai déjà lancer plusieurs
                business en ligne tel que le dropshipping, le drop'service, Affiliation, Growth Hacking, SMMA.</p>
        </div>
    </div>
    <div class="section">
        <h2>Formation</h2>
        <div class="section-gauche" id="format-gauche">
            <p>2016 - Auj</p>
            <p>2013 - 2016</p>
            <p>2011 - 2013</p>
        </div>
        <div class="section-droite">
            <p><span class="titre">Campus Ynov Toulouse - Ingésup</span><br>Spécialité Développement web</p>
            <p><span class="titre">De la Salle Castres - Bac SEN</span><br>Système Électronique Numérique</p>
            <p><span class="titre">La Borde Basse - Bac MEI</span><br>Maintenance Équipement Industriel</p>
        </div>
    </div>
    <div class="section">
        <h2>Expériences professionnelles</h2>
        <div class="section-gauche" id="format-gauche">
            <p>2019 - Auj</p>
            <p>2018 - Auj</p>
            <p>2020 - Auj</p>
            <p>2019 - Auj</p>
            <p>2018 - Auj</p>
        </div>
        <div class="section-droite">
            <p><span class="titre">Auto-Entrepreneur</span><br>
                NoperWeb</p>
            <p><span class="titre">Président</span><br>
                Perstof</p>
            <p><span class="titre">Directeur Web</span><br>
                Groupe JLA Conseil</p>
            <p><span class="titre">Webmaster</span><br>
                Cabinet MEPERY</p>
            <p><span class="titre">Webmaster (Alternance)</span><br>
                ACA Expertise</p>
        </div>
    </div>
    <div class="section">
        <h2>Langues</h2>
        <div class="section-gauche" id="format-gauche">
            <p>Français : <br>
                Anglais :</p>
        </div>
        <div class="section-droite">
            <p><span class="titre">Langue maternelle</span></p>
            <p><span class="titre">Notion</span></p>
        </div>
    </div>
    <div class="section">
        <h2>Certification et Centre d'intérêt</h2>
        <div class="section-gauche" id="format-gauche">
            <p>Certification :</p>
            <p>Intérêt :</p>
        </div>
        <div class="section-droite">
            <p>Google Ateliers Numérique, Facebook Blueprint, Academy for Ads </p>
            <p>Football, Musique, Développement web, Internet, SEO, Marketing digital, business en ligne</p>
        </div>
    </div>

</div>