body{
    background-color: #CCCCCC;
}
.page {
    width: 780px;
    margin: auto;
    font-size: 16px;
    padding:40px;
    border: 5px solid #424242;
    border-radius: 10px;
    box-shadow: 2px 4px 3px black;
    background-color: #FFFFFF;
}
.infopage {
    height: 250px;
}
.info {
    float: left;
}
.photo{
    float: right;
}
.section {
    margin-bottom: 70px;
}
.section:hover{
    color: #4285f4;
}
.section-gauche {
    float: left;
    font-weight: bold;
    font-size: 20px;
}
.section-droite {
    margin-left: 150px;
}
strong {
    font-size: 26px;
}
.section{
    margin-bottom: 70px;
    text-align: justify;
}
h2 {
    font-size: 28px;
    color: #4285f4;
    text-transform: uppercase;
    border-bottom: 3px solid #4285f4;
}
.duree {
    font-weight: normal;
    font-style: italic;
    font-size: 16px;
}
#exp-gauche {
    margin-top: 32px;
}
.titre {
    font-weight: bold;
    font-size: 18px;
}
#format-gauche p{
    margin-bottom: 37px;
}