<div class="jumbotron text-center">
    <div class="slide">
    <h1>Nicolas PERON</h1>
    <p>Développeur web</p>
</div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="box">
                <h3>CV 1</h3>
                <p>curriculum vitae de base</p>
                <button type="button" class="btn btn-primary" routerLink="../cv">Cliquez ici</button>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="box">
                <h3>CV 2</h3>
                <p>curriculum vitae version amélioré</p>
                <button type="button" class="btn btn-info" routerLink="../home">Cliquez ici</button>
            </div>
        </div>
    </div>
</div>