<section>
    <div class="photo">
        <img src="../../assets/photo.png" alt="Ma photo de profil">
    </div>
    <div class="prez">
        <h2>Qui suis-je ?</h2>
        <p>Je m'appelle Nicolas PERON, étudiant en Master 2 développement Web au sein du Campus Ynov à Toulouse. Je suis auto-entrepreneur depuis début 2019 dans la prestation de service en BtoB spécialisé dans la création de site internet et d'application. Je travaille également pour plusieurs entreprise en plus de mon alternance. Passioné d'entreprenariat, de marketing et d'internet, j'ai déjà lancer plusieurs business en ligne tel que le dropshipping, le drop'service, Affiliation, Growth Hacking, SMMA.</p>
        <a href="../../assets/cv.pdf" download>Télécharger mon CV</a>
    </div>
    <div class="contact">
        <h2>Informations de contact</h2>
        <div class="contact-flex">
            <p>Nom : </p>
            <p>PERON Nicolas</p>
        </div>
        <div class="contact-flex">
            <p>Adresse : </p>
            <p>14 esplanade de monturon - 31770 Colomiers</p>
        </div>
        <div class="contact-flex">
            <p>Téléphone :</p>
            <p>06 81 53 64 17</p>
        </div>
        <div class="contact-flex">
            <p>Mail : </p>
            <p><a href="mailto:nicolas.peron@ynov.com">nicolas.peron@ynov.com</a></p>
        </div>
        <div class="contact-flex">
            <p>Permis :</p>
            <p>B</p>
        </div>
        <div class="social">
            <a href="#"><img src="../../assets/fb.png" alt="Logo Fb"></a>
            <a href="#"><img src="../../assets/tw.png" alt="Logo Tw"></a>
            <a href="https://www.linkedin.com/in/nicolas-peron-7b03a0161/"><img src="../../assets/lk.png" alt="Logo Lk"></a>
        </div>
    </div>
</section>

<section>
    <h2>Expériences professionnelles</h2>
    <div class="exp">
        <div class="exp-logo">
            <a href="#"><img src="../../assets/noper.png" alt="Logo de Noper Web"></a>
        </div>
        <div class="exp-info">
            <h3>Auto-Entrepreneur</h3>
            <h4>NoperWeb</h4>
            <h4>Janvier 2019 - Aujourd'hui</h4>
        </div>
        <div class="exp-desc">
            <p>Auto-Entrepreneur en prestation de service pour les entreprise et associations. Développement web, marketing digital, communication digital</p>
        </div>
    </div>
    <div class="exp">
        <div class="exp-logo">
            <a href="#"><img src="../../assets/perstof.png" alt="Logo de Perstof"></a>
        </div>
        <div class="exp-info">
            <h3>Président</h3>
            <h4>Perstof</h4>
            <h4>Mai 2018 - Aujourd'hui</h4>
        </div>
        <div class="exp-desc">
            <p>Création et gestion d'un site e-commerce.</p>
        </div>
    </div>
    <div class="exp">
        <div class="exp-logo">
            <a href="#"><img src="../../assets/jla.jpg" alt="Logo de JLA Conseil"></a>
        </div>
        <div class="exp-info">
            <h3>Directeur Web</h3>
            <h4>Groupe JLA Conseil</h4>
            <h4>Janvier 2020 - Aujourd'hui</h4>
        </div>
        <div class="exp-desc">
            <p>Directeur web dans le Groupe JLA Conseil. Gestion de toute la partie informatique de l'entreprise. Gestion de projet. Gestion client.</p>
        </div>
    </div>
    <div class="exp">
        <div class="exp-logo">
            <a href="#"><img src="../../assets/aca.png" alt="Logo de ACA Expertise"></a>
        </div>
        <div class="exp-info">
            <h3>Webmaster</h3>
            <h4>ACA-EXPERTISE</h4>
            <h4>Octobre 2018 - Aujourd'hui</h4>
        </div>
        <div class="exp-desc">
            <p>Stage Alterné/Alternance. Webmaster au sein de l'entreprise ACA Expertise. Gestion et création site internet. Maintenant informatique.</p>
        </div>
    </div>
    <div class="exp">
        <div class="exp-logo">
            <a href="#"><img src="../../assets/mepery.png" alt="Logo de Mepery"></a>
        </div>
        <div class="exp-info">
            <h3>Webmaster</h3>
            <h4>Cabinet MEPERY</h4>
            <h4>Mars 2019 - Aujourd'hui</h4>
        </div>
        <div class="exp-desc">
            <p>Webmaster au sein du Cabinet Juridique MEPERY. Création et gestion de toute la présence en ligne de l'entreprise. Création d'application.</p>
        </div>
    </div>
    <div class="exp">
        <div class="exp-logo">
            <a href="#"><img src="../../assets/itcenter.png" alt="Logo de IT Center"></a>
        </div>
        <div class="exp-info">
            <h3>Technicien Informatique</h3>
            <h4>IT CENTER</h4>
            <h4>2014 - 2016</h4>
        </div>
        <div class="exp-desc">
            <p>Stage. Technicien informatique au sein de l'entreprise IT CENTER. Réparation de matériel informatique, montage matériel informatique.</p>
        </div>
    </div>
</section>

<section>
    <h2>Formation</h2>
    <div class="exp">
        <div class="exp-logo">
            <a href="#"><img src="../../assets/ynov.jpg" alt="Logo De la Salle Castres"></a>
        </div>
        <div class="exp-info">
            <h3>Campus Ynov Toulouse</h3>
            <h4>2016 - Auj</h4>
        </div>
        <div class="exp-desc">
            <p>Ingésup - Spécialité Développement Web</p>
        </div>
    </div>
    <div class="exp">
        <div class="exp-logo">
            <a href="#"><img src="../../assets/delasalle.png" alt="Logo Dumont"></a>
        </div>
        <div class="exp-info">
            <h3>Lycée De La Salle</h3>
            <h4>2013 - 2016</h4>
        </div>
        <div class="exp-desc">
            <p>Bac Système Électronique Numérique</p>
        </div>
    </div>
    <div class="exp">
        <div class="exp-logo">
            <a href=""><img src="../../assets/laborde.jpg" alt=""></a>
        </div>
        <div class="exp-info">
            <h3>Lycée Borde Basse</h3>
            <h4>2011 - 2013</h4>
        </div>
        <div class="exp-desc">
            <p>Bac Maintenance Équipement Industriel</p>
        </div>
    </div>
</section>

<section>
    <h2>Compétences</h2>
    <h3 class="h3gauche">Professionnelles</h3>
    <div class="comp">
        <p>HTML / CSS</p>
        <div class="conteneur-barre"><span class="barre c100"></span></div>
    </div>
    <div class="comp">
        <p>PHP / MySQL</p>
        <div class="conteneur-barre"><span class="barre c90"></span></div>
    </div>
    <div class="comp">
        <p>JavaScript</p>
        <div class="conteneur-barre"><span class="barre c90"></span></div>
    </div>
    <div class="comp">
        <p>NodeJS</p>
        <div class="conteneur-barre"><span class="barre c75"></span></div>
    </div>
    <div class="comp">
        <p>Angular</p>
        <div class="conteneur-barre"><span class="barre c80"></span></div>
    </div>
    <div class="comp">
        <p>SEO</p>
        <div class="conteneur-barre"><span class="barre c100"></span></div>
    </div>
    <h3 class="h3gauche">Personnelles</h3>
    <div class="comp2">
        <p>Créativité</p>
        <p>90%</p>
        <div class="conteneur-barre2"><span class="barre c90"></span></div>
    </div>
    <div class="comp2">
        <p>Adaptation</p>
        <p>85%</p>
        <div class="conteneur-barre2"><span class="barre c85"></span></div>
    </div>
    <div class="comp2">
        <p>Sérieux</p>
        <p>95%</p>
        <div class="conteneur-barre2"><span class="barre c95"></span></div>
    </div>
    <div class="comp2">
        <p>Pédagogie</p>
        <p>95%</p>
        <div class="conteneur-barre2"><span class="barre c95"></span></div>
    </div>
</section>

